body {
  font-family: var(--mono), monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--apple-garamond), serif;
  line-height: 95%;
  margin: 0;
}

h1 {
  font-size: clamp(4.5rem, -0.875rem + 8.333vw, 9.5rem);
}

p {
  font-size: 18px;
  font-family: var(--mono), monospace;
  line-height: 150%;
  margin: 0;
}
